
main > #main-header >  h5{
    color: white;
    font-stretch:expanded;
    font-size: 10px;
    letter-spacing: 3px;
}
/* #main-header{
    z-index: -1;
    padding: 30px;
} */
main > #main-header >   #main-line
{
    text-align: center; 
    color: #000;
    font-weight: bolder;
    font-family: 'Lato';
    letter-spacing: 1px;
    font-size: 10px;
}

main > #main-header > h1
{
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-size: 3rem;
    text-align: center;
    font-stretch:ultra-expanded;
    font-family: 'Lato';
}

form > section > .section-title 
{
    text-align: center;
}
form > section > .section-title 
{
    text-align: center;
}

form > section > .section-title  > h3
{
    color: #fe0000;
    display: inline-block;
   font-weight: bolder;
  font-size:3rem;
  font-style: italic;
  font-family: 'Lato';
}

form > section > h5
{
    font-size: #333;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
}
#auto
{
   margin: 0;padding: 0;
position: relative;
  display: flex;
  justify-content: center;
}
#auto > img{
    top: -270px;
    position: absolute;
    height: 19rem;
}
form > section>h3, h5{
    text-align: center;
}

/* auto-info */
#modelo-auto{margin-top: 50px;}
.auto-select{
    width: 50%;
}
label
{
    font-size: #444;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
.row{
    margin-top: 40px;
}
/* datos-personalesl */
input[type=text] {
   width: 100%;
   border: 1px solid #fe0000 ;
   font-size: 17px;
   padding: 5px 12px;
   font-weight: bold;
   color: #333;
  }
  select {
    width: 100%;
    border: 1px solid #fe0000 ;  
    font-size: 17px;
    padding: 5px 15px;
    font-weight: bold;
    color: #333;
  }
/*inicio contacto */
.contacto{padding: 0;}
input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  .radio-group{width: 100%;margin-left: 2px;}
 .radio-group > div>  label {
    color: #fe0000;
   
    cursor: pointer;
    font-weight: bold;
    padding: 15px 0px;
    
  }

  .contacto
   {
    border:1px solid  #fe0000;
    border-left: none;
    color: #fe0000;
    width: 100%;
    text-align: center;
  }
  .radio-group .contacto:nth-child(2)
  {
    border-left: 1px solid  #fe0000;
  }
  .contacto > input[type=radio]:checked + label {
    color: white;
    background: #fe0000;
    width: 100%;
  }
  /*fin contacto */
/* pago */
#pago > #tipoDePago >div
{
    /* float: left;
    
    width: 50%;
     */
 
    margin: 0;
    padding: 0;
}
/* #pagoXcredito{
    display: flex;
} */

#pago > #tipoDePago > div
{
    border:1px solid  #fe0000;
  
    color: #fe0000;
   
    text-align: center;
}
input[type=radio] + label
{
    width: 100%;height: 100%;   text-align: center;
}
#pago > #tipoDePago > div > input[type=radio]:checked + label
{
    color: white;
    background: #fe0000;
}

/*fin  pago */
#main-header{
    z-index: -1;
    padding: 30px;
}

main > form > section > .section-title{
margin-top: 3rem;
}
.article-data{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(90, 90, 90);
flex-direction: row;
   justify-content: space-between;
   align-content: space-between;
}
.data-info
{
    display:inline-block;
    width: 30%;
    margin-top: 2em;
}
main > form > section > h5{

    margin-bottom: 1rem;
    }

    /* form-end */
  
    #form-end{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
  
   
    #submit-form{
        padding: 10px 25px;
        border: 1px solid #fe0000 ;
        background-color: white;
        color: #fe0000;
        font-weight: 700;
    }
    #submit-form:hover{
     
        background-color: #fe0000 ;
        color: white;
    }

    /* general */
    textarea{
        width: 100%;
        border: 1px solid #fe0000 ;
        font-size: 15px;
        padding: 5px 12px;
        font-weight: 600;
        color: #333;

    }


    main{padding-bottom: 5rem; z-index: -5;}
    form
    {
        margin:0;
        margin-top: 8rem;
        padding: 7% 5%;
        background-color: white;
        transition: all .4s ease-in-out;
    } 
@media screen  and (max-width: 480px)
{
  
    .auto-select, .credito-info{
        width: 100%;
    }
    form
    {
        
       margin:0; margin-top: 5rem;
       padding: 1rem;
        transition: all .6s ease-in-out;
    } 
  .radio-group > div{width: 50%;}
    #auto > img{
     
        height: 13rem;
        top: -150px;
    }
    #form-end {
        display: flex;
        flex-direction: column;     
        align-items: flex-start;
     }
     #form-end:nth-child(2){
      
        align-self: center;
     }
     /* #form-end:nth-child(2){
      
        margin-top: 10px;
        display: flex;
        justify-content: center;
     }
     #form-end:nth-child(2)> input{
      
        margin-top: 10px;
        display: flex;
        justify-content: center;
        
     } */
}
@media screen  and (min-width: 479px) and (max-width: 599px)
{
     #form-end {
        display: flex;
        flex-direction: column;     
        align-items: flex-start;
    
 }
 #form-end:nth-child(2){
      display: inline-block;text-align: center;
    align-self: center;
 }
    .auto-select, .credito-info{
        width: 100%;
    }
    form
    {
        
       margin:0; margin-top: 6rem;
       padding: 1rem;
        transition: all .6s ease-in-out;
    } 
  .radio-group > div{width: 50%;}
    #auto > img{
     
        height: 17rem;
        top: -200px;
    }
 
    main > #main-header > h1
    {
        font-size: 5rem;
    }
    main > #main-header >   #main-line
    {
        text-align: center; 
        color: #000;
        font-weight: bolder;
        font-family: 'Lato';
        letter-spacing: 2px;
        font-size: 17px;
    }
}
@media screen and (min-width: 600px) and (max-width:767px)
{
    
    form > section > .section-title  > span
    {
        background-color: #fe0000;
        display: inline-block;
        height: 1px;
        vertical-align:middle;
        width: 18%;
    }
    
    form
    {
        /* margin:0 ;
       padding: 1em; */
       margin:0;
       padding:7% 5%;
       margin-top: 7rem;
        transition: all .6s ease-in-out;
    }  
    main > #main-header >  #main-line > span
{
    background-color: #000;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 50px;
}
#article-data > div
{
    width: 33.3%;
}
.credito-info, #tipoDePago >div{width: 50%;}
#auto > img{
    top: -250px;
    height: 18rem;
}
main > #main-header > h1
{
    font-size: 5rem;
}
main > #main-header >   #main-line
{
    text-align: center; 
    color: #000;
    font-weight: bolder;
    font-family: 'Lato';
    letter-spacing: 2px;
    font-size: 15px;
}
main > #main-header >  #main-line > span
{
    background-color: #000;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 50px;
}
}

@media screen and (min-width: 768px) and (max-width:1023px)
{
    form > section > .section-title  > span
{
    background-color: #fe0000;
    display: inline-block;
    height: 1px;
    vertical-align:middle;
    width: 20%;
}
    form
    {
        /* margin:1em ;
       padding: 3rem; */
       margin:1% 5%;
       margin-top: 7rem;
   padding:7% 3%;
        transition: all .6s ease-in-out;
    }  
    main > #main-header >  #main-line > span
{
    background-color: #000;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 50px;
}
#article-data > div
{
    width: 33.3%;
}
.credito-info, #tipoDePago >div{width: 40%;}
#auto > img{
     
    height: 19rem;
}
main > #main-header > h1
{
    font-size: 6rem;
}
main > #main-header >   #main-line
{
    text-align: center; 
    color: #000;
    font-weight: bolder;
    font-family: 'Lato';
    letter-spacing: 2px;
    font-size: 15px;
}
main > #main-header >  #main-line > span
{
    background-color: #000;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 50px;
}
}

@media screen and (min-width:1024px)
{
    form > section > .section-title  > span
    {
        background-color: #fe0000;
        display: inline-block;
        height: 1px;
        vertical-align:middle;
        width: 22%;
    }
form
{
    margin:2% 10%;
   padding: 4% 4%;
   margin-top: 7rem;
}

main > #main-header >  #main-line > span
{
    background-color: #000;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 50px;
}
#article-data > div
{
    width: 33.3%;
}
.credito-info ,#tipoDePago >div{width: 34.5%;}
#auto > img{
     
    height: 20rem;
}
main > #main-header > h1
{
    font-size: 6rem;
}
main > #main-header >   #main-line
{
    text-align: center; 
    color: #000;
    font-weight: bolder;
    font-family: 'Lato';
    letter-spacing: 2px;
    font-size: 15px;
}
main > #main-header >  #main-line > span
{
    background-color: #000;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 50px;
}
}
